<div class="pelicula-container border border-secondary rounded hoverable">
    <figure class="img-container position-relative">
        <img class="img-fluid extendida" src="{{urlImagen}}" alt="">
        <div class="cortina"></div>
        <div class="play-icon">
            <i class="fas fa-play"></i>
        </div>
    </figure>
    <div class="info">
        <p class="titulo">titulo:{{titulo}}</p>
        <p class="categoria">categoria:{{categoria}}</p>
        <p class="descripcion">descripcion:{{descripcion}}</p>
    </div>
</div>
