<div class="mb-3 row formularioPelicula">
    <div class="mb-3 row">
      <label for="peliculaId" class="col-sm-2 col-form-label">ID</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="peliculaId" [value]="id">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="peliculaTitulo" class="col-sm-2 col-form-label">Título</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="peliculaTitulo" [value]="titulo">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="peliculaDescripcion" class="col-sm-2 col-form-label">Descripción</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="peliculaDescripcion" [value]="caracteristicas">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="peliculaCategoria" class="col-sm-2 col-form-label">Categoría</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="peliculaCategoria" [value]="categoria">
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-sm-1">
        <button class="btn btn-primary" (click)="resetForm()">Limpiar</button>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-primary" (click)="resetForm()">Guardar</button>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-primary" (click)="resetForm()">Actualizar</button>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-primary" (click)="resetForm()">Eliminar</button>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-primary" (click)="mostrarPeliculas()">cancelar</button>
      </div>
    </div>
  </div>
  