<div class="main-container">
  <div class="lista" *ngIf="mostrarLista">
    <div class="nav">
      <h1 class="titulo-main">Lista de peliculas</h1>
      <button class="btn-agregar" (click)="agregarPelicula()">Agregar</button>
    </div>
    <div class="peliculas">
      <div *ngFor="let peli of peliculas" (click)="seleccionarPelicula(peli)">
        <app-pelicula
          [urlImagen]="peli.urlImagen"
          [titulo]="peli.titulo"
          [categoria]="peli.categoria"
          [descripcion]="peli.descripcion"
          [protagonista]="peli.protagonista"
          [urlVideo]="peli.urlVideo"
        >
        </app-pelicula>
      </div>
    </div>
  </div>

  <app-formulario
    *ngIf="!mostrarLista"
    [id]="peliculaSeleccionada?.id"
    [titulo]="peliculaSeleccionada?.titulo"
    [descripcion]="peliculaSeleccionada?.descripcion"
    [urlVideo]="peliculaSeleccionada?.urlVideo"
    [urlImagen]="peliculaSeleccionada?.urlImagen"
    [protagonista]="peliculaSeleccionada?.protagonista"
    [categoria]="peliculaSeleccionada?.categoria"
    (cancelar)="manejarCancelar()"
    (peliculaAgregada)="PeliculaCambios()"
    (peliculaEliminada)="PeliculaCambios()"
    (peliculaModificada)="PeliculaCambios()"
  ></app-formulario>
</div>
